/* 自动编号 */
h1 {
  counter-reset: h2counter;
}
h2 {
  counter-reset: h3counter;
}
h3 {
  counter-reset: h4counter;
}
h4 {
  counter-reset: h5counter;
}
h5 {
  counter-reset: h6counter;
}
h6 {
  counter-reset: h6counter;
}
h2:before {
  counter-increment: h2counter;
  content: counter(h2counter) "\0000a0\0000a0";
}
h3:before {
  counter-increment: h3counter;
  content: counter(h2counter) "." counter(h3counter) "\0000a0\0000a0";
}
h4:before {
  counter-increment: h4counter;
  content: counter(h2counter) "." counter(h3counter) "." counter(h4counter)
    "\0000a0\0000a0";
}
h5:before {
  counter-increment: h5counter;
  content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "."
    counter(h5counter) "\0000a0\0000a0";
}
h6:before {
  counter-increment: h6counter;
  content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "."
    counter(h5counter) "." counter(h6counter) "\0000a0\0000a0";
}

/* p {
  text-align: justify;
  text-indent: 1em;
} */

/* 图片居中显示，小图设置 */

img[src*="small"] {
  max-width: 60px;
  height: auto;
  text-align: left;
}

/* img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 100%;
  height: auto;
} */

img[src*="center"] {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 100%;
  height: auto;
}

details {
  margin-left: 1em;
  margin-top: 1em;
}

details summary::-webkit-details-marker {
  display: none;
}

/* 表格居中 */

/* table {
  border: 3px solid #99cc99;
  border-radius: 1em;
} */
