/* 自动编号 */
h1 {
  counter-reset: h2counter;
}

h2 {
  counter-reset: h3counter;
}

h3 {
  counter-reset: h4counter;
}

h4 {
  counter-reset: h5counter;
}

h5 {
  counter-reset: h6counter;
}

h6 {
  counter-reset: h6counter;
}

h2:before {
  font-size: 80%;
  counter-increment: h2counter;
  content: counter(h2counter) "\0000a0";
  visibility: visible;
}

h3:before {
  font-size: 80%;
  counter-increment: h3counter;
  content: counter(h2counter) "." counter(h3counter) "\0000a0";
}

h4:before {
  font-size: 80%;
  counter-increment: h4counter;
  content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "\0000a0";
}

h5:before {
  font-size: 80%;
  counter-increment: h5counter;
  content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "."
    counter(h5counter) "\0000a0";
}

h6:before {
  font-size: 80%;
  counter-increment: h6counter;
  content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "."
    counter(h5counter) "." counter(h6counter) "\0000a0";
}

/* #main {
  counter-reset: pcounter;
} */

/* #main p:before {
  font-size: 50%;
  opacity: 0.5;
  counter-increment: pcounter;
  content: "⌈" counter(pcounter)"⌋";
} */

/* 回到顶部 */

div#upupup {
  bottom: 10px;
  right: 10px;
  position: fixed;
  width: 40px;
  border-radius: 50%;
  background-color: transparent;
}

div#upupup:hover {
  opacity: 0.5;
}

div#upupup:active {
  opacity: 0.9;
  background-color: #333;
}

/* p {
  text-align: justify;
  text-indent: 1em;
} */

/* 图片居中显示，小图设置 */

img[src*="small"] {
  max-width: 100px;
  height: auto;
  margin-left: 2px;
  text-align: left;
}

/* img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 100%;
  height: auto;
} */

img[src*="center"] {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 100%;
  height: auto;
}

details {
  margin-left: 1em;
  margin-top: 1em;
}

details summary::-webkit-details-marker {
  display: none;
}

/* 表格居中 */

/* table {
  border: 3px solid #99cc99;
  border-radius: 1em;
} */

/* 可口可乐字体 */
@font-face {
  font-family: 'Coca';
  src: local(''),
    url('../Font/Coca.woff2') format('woff2');
  font-weight: bolder;
}

/* Firecode */
@font-face {
  font-family: 'Fira';
  src: local(''),
    url('../Font/FiraCode/FiraCode-Regular.woff2') format('woff2');
}

/* CascadiaCode */
@font-face {
  font-family: 'Casc';
  src: local(''),
    url('../Font/CascadiaMono.woff2') format('woff2');
}

/* 霞鹜臻楷*/
@font-face {
  font-family: 'LXGW';
  src: local(''),
    url('../Font/LXGWZhenKai.woff2') format('woff2');
}

/* 遍黑体 */
@font-face {
  font-family: 'BHT';
  src: local(''),
    url('../Font/BHT.woff2') format('woff2');
}

/* 方正新楷体 */
@font-face {
  font-family: 'FZXKT';
  src: local(''),
    url('../Font/方正新楷体.woff2') format('woff2');
}